img.img-thumbnail {
    border-radius: 2%
}

h3 {
    font-family: 'Rock Salt', cursive;
}


.card-header {
    background-color: 	 #ebfafa;
}
.card-header:hover {
    background-color: #d6f5f5;

}

.card-header>h5>button {
    color: #006666;
    text-decoration: none
}

