h3 ...under construction...

.container
    .card-columns
        .card.card.text-white.bg-info.mb-3(style='max-width: 18rem;')(*ngFor="let user of users ")
            .card-header {{user._id}}
            .card-body
                h5.card-title {{user.username}}
                p.card-text {{user.email}} 
            .card-footer
                p.small.text-muted last enterred on: ... 
                button.btn.btn-sm.btn-light(type="button", (click)='delete(user._id)') Delete


