.card-header.border-info.private {
    background-color: 	 #003333;
    color: white;
  }
  
  .card-body.private>h5,
  .card-body.private>p  {
    color: 	 #003333;
  }
.card-header.border-info {
    background-color: #008b8b;
    color: white;
  }
  
  .card-body>h5,
  .card-body>p  {
    color: darkcyan;
  }
  
  
  