
br
h3 ...how was it made...
p.lead This app has been built using the following:
br

.row.justify-content-center

    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://angular.io/", target='_blank') 
            img.logo(src='/assets/img/angular.svg', alt='angular')
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://nodejs.org/en/", target='_blank') 
            img.logo(src='/assets/img/node.png', alt='node')
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://pugjs.org/api/getting-started.html", target='_blank') 
            img.logo(src='/assets/img/pug.svg', alt='pug')
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="http://mongoosejs.com/", target='_blank') 
            img.logo(src='/assets/img/mongoose.png', alt='mongoose')
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://www.npmjs.com/package/express", target='_blank') 
            img.logo(src='/assets/img/express.png', alt='express')
.row.justify-content-center
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://fontawesome.com/", target='_blank') 
            img.d-flex.logo(src='/assets/img/fontawsome.png', alt='fontawsome')
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://getbootstrap.com/", target='_blank') 
            img.d-flex.logo(src='/assets/img/bootstrap-stack.png', alt='bootstrap')
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://github.com/kingaszasz", target='_blank') 
            img.logo(src='/assets/img/git.png', alt='node')
    .col-12.col-sm-5.col-md-4.col-lg-2.d-flex.justify-content-center
        a(href="https://fonts.google.com/", target='_blank') 
            img.logo(src='/assets/img/googlefont.png', alt='googlefonts')



.row
    .col-md-8.offset-md-2
        h3
            | Many thanks 
            br
            | for all the grate developers 
            br
            | making this possible!
 



