section.header
    .container
        .jumbotron.jumbotron-fluid
            .container
                h1.display-4 MyBlog
                p.lead A very simple app to collect your thoughts about anything
section.nav
    .container
        app-nav
br

section.body
    .container
        router-outlet
br

section.footer 
    .container       
        app-footer

