.container
    .jumbotron.jumbotron-fluid
        .container
            h1.display-4 MyBlog
            p.lead A very simple app to collect your thoughts about anything
    app-nav

.container
    router-outlet
