nav.navbar.navbar-expand-lg.navbar-light
		a.navbar-brand(href='#') MyBlog 
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarColor01.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item(routerLinkActive='active')
					a.nav-link(routerLink='/about') Users
				li.nav-item(routerLinkActive='active')
					a.nav-link(routerLink='/background') Background
				li.nav-item(routerLinkActive='active')
					a.nav-link(routerLink='/develop') Develope
				li.nav-item(routerLinkActive='active')
					a.nav-link(routerLink='/public') PublicPOSTS
				li.nav-item(routerLinkActive='active')
					a.nav-link(*ngIf="success==true", routerLink='/myposts') My Posts



			form.form-inline.my-2.my-lg-0
				
				.btn-group.btn-group(role='group')
					button.btn.btn-light(*ngIf="((success==false || !user.username) && (cookieUser == '' || cookieUser == 'no user'))", data-toggle='modal', data-target='#registerModal') Register
					button.btn.btn-light(*ngIf="success==false", type='button', data-toggle='modal', data-target='#loginModal') LOGIN
					label(*ngIf="success==true") Wellcome {{user.username}}!  
					label(*ngIf="(success==false && cookieUser !== '' && cookieUser !== 'no user')") Wellcome back: {{user.username}}!  
					button.btn.btn-light(*ngIf="success==true", type='button', (click)="logout()") LOGOUT 
 
				
				
// modal

#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Login
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form
					.form-group
						label(for='username') Username
						input#username.form-control(name="username" type='text', aria-describedby='username', placeholder='Enter your username', [(ngModel)]="user.username")
					.form-group
						label(for='pass') Password
						input#pass.form-control(name="password" type='password', placeholder='Password', [(ngModel)]="user.password")
			.modal-footer
				button.btn.btn-secondary(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='submit', data-dismiss='modal', (click)="login()") Go!



#registerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#registerModalLabel.modal-title Register
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form
					.form-group
						label(for='newusername') Username
						input#newusername.form-control(name="username" type='text', aria-describedby='newusername', placeholder='Enter your username', [(ngModel)]="newuser.username")
					.form-group
						label(for='newemail') Email
						input#newemail.form-control(name="email" type='text', aria-describedby='newemail', placeholder='Enter your email', [(ngModel)]="newuser.email")
					.form-group
						label(for='newpass') Password
						input#newpass.form-control(name="password" type='password', placeholder='Password', [(ngModel)]="newuser.password")
			.modal-footer
				button.btn.btn-secondary(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='submit', data-dismiss='modal', (click)="register()") Go!